.header {
    color: white;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    background-image: linear-gradient(to right, #051421, #042727);
    overflow-x: scroll;
}

.header::-webkit-scrollbar{
    display: none;
}

.header {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.header__icon > .MuiSvgIcon-root{
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}

.header__icon--active > p{
    display: inline !important;
}

.header__icon:hover > p{
    display: inline-flex;
}

.header__icon:hover > p {
    display: inline;
}
.header__icon > p{
    display: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
}
.header__icon{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100px;margin-right: 30px;
}

.header__icons{
    display: flex;
    align-items: center;
    text-align: center;
}

.header > img {
    object-fit: contain;
    height: 80px;
}