.videoCard{
    color: white;
    width: 500px;
    height: 400px;
    padding: 20px;
    transition: transform 100ms;
    background-image: linear-gradient(to right, #051421, #042727);
}

.videoCard:hover{
    transform: scale(1.09);
}
.videoCard > img {
    height: 300px;
    object-fit: contain;
    width: 500px;
}

.videoCard_stats {
    display: none;
}

.videoCard > .videoCard_stats {
    display: inlne;
}

.videoCard > h2 {
    padding-top: 10px;
}